<!-- pesquisa  -->
<div class="search-area">
   <div class="container">
      <div class="search-input">
         <div class="search-close">
            <i class="icofont-close-squared-alt"></i>
         </div>
         <form role="search" action="{% url_for controller='dataset', action='search' %}" method="get">
            <input type="text" name="text" class="form-control" placeholder="Pesquisar dados" name="q" placeholder="{{ _('Search') }}">
            <button class="search-btn" type="submit">
            <span class="serch-icon">
            <i class="icon-magnifier icons"></i>
            </span>
            </button>
         </form>
      </div>
   </div>
</div>
<!-- pesquisa  -->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
<style>
   .app-acessibilidade ul li a, .app-acessibilidade .app-acessibilidadeMenu a{
   font-size: smaller;
   color: #151b1e;
   }
</style>
<!-- Mobile menu -->
<div class="mobile-menu crypto-bg ">
   <nav class="mobile-header d-flex justify-content-between">
      <div class="header-bar">
         <span></span>
         <span></span>
         <span></span>
      </div>
      <div class="header-logo">
         <a href="{{ h.url_for('home.index') }}" data-toggle="tooltip" class="linkLogo-principal" title="dados abertos">
         <img src="/base/assets/images/logo-dadosBgYellow.png" alt="dados abertos" width="170">
         </a>
      </div>
      <div class="search">
         <i class="icon-magnifier icons text-white"></i>
      </div>
   </nav>
   <nav class="mobile-menu">
      <div class="mobile-menu-area">
         <div class="mobile-menu-area-inner">
            <a href="{{ h.url_for('home.index') }}" rel="">
            <img src="/base/assets/images/logo.png" alt="logo prefeitura de fortaleza" width="130">
            </a>
            <ul>
               <li>
                  <a class="active" href="{{ h.url_for('home.index') }}">Início</a>
               </li>
               <li>
                  <a href="{{ h.url_for('home.about') }}">Sobre</a>
               </li>
               <li>
                  <a href="{{ h.url_for('dataset.search') }}">Conjunto de dados</a>
               </li>
               <li>
                  <a href="{{ h.url_for('group.index') }}" onclick="window.location='{{ h.url_for('group.index')}}'" data-toggle="tooltip">Grupos</a>
                  <ul>
                     {% for group in h.get_featured_groups({count:4}) %}
                     <li><a href="/group/{{group.name}}">{{ group.display_name }}</a></li>
                     <li><a href="/group/">Ver todos</a></li>
                     {% endfor %}
                  </ul>
               </li>
               <li>
                  <a href="{{ h.url_for('organization.index') }}">Organizações</a>
               </li>
               <li>
                  <a href="#" data-toggle="tooltip">Ajuda</a>
                  <ul>
                     <li><a href="/contato">Fale conosco</a></li>
                     <li><a href="/faq">Dúvidas frequentes</a></li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
<!-- Mobile Menu -->
<section class="app-menu d-none d-lg-block bg-gray-100">
   <!--acessibilidade-->
   <div class="app-acessibilidade">
      <div class="container-fluid">
         <div class="row align-items-center">
            <div class="col-sm-6 col-12 app-acessibilidadeMenu d-none d-md-flex align-items-center">
               <a class="scroll mr-1" href="#content-main"             data-toggle="tooltip"
                  data-placement="top"
                  title="atalho alt + 1"
                  data-original-title="alt + 1"  accesskey="1"> Conteúdo Central |</a>
               <a class="scroll mr-1" href="#navMenu"                  data-toggle="tooltip"
                  data-placement="top"
                  title="atalho alt + 2"
                  data-original-title="alt + 2"  accesskey="2"> Menu |</a>
               <a class="scroll mr-1" href="#search"                   data-toggle="tooltip"
                  data-placement="top"
                  title="atalho alt + 3"
                  data-original-title="alt + 3" accesskey="3"> Busca  |</a>
               <a class="scroll mr-1" href="#footer"                   data-toggle="tooltip"                                                                                                  data-toggle="tooltip"
                  data-placement="top"
                  title="atalho alt + 4"
                  data-original-title="alt + 4" accesskey="4"> Rodapé </a>
               <a href="https://vlibras.gov.br/" target="_blank" class="ml-3 mr-1" data-toggle="tooltip" rel="noreferrer">
               <i class="fa fa-deaf text-gray-700" aria-hidden="true"></i>
               </a>
               <a href="#altocontraste" id="altocontraste" class="colorContrast mr-1 text-gray-700"
                  onclick="window.toggleContrast()">
               <i class="fa d-inline fa-adjust text-blue text-gray-700"></i></a>
               <a href="javascript:window.toggleFont('-')" class="mr-1 text-gray-700" data-toggle="tooltip">A-</a>
               <a href="javascript:window.toggleFont('=')" class="mr-1 text-gray-700" data-toggle="tooltip">A</a>
               <a href="javascript:window.toggleFont('+')" class="mr-1 text-gray-700" data-toggle="tooltip">A+</a>
               <div class="py-2 flex justify-items-end langButton ml-2 align-items-center">
                  <!-- exemplo tradução -->
                  <button class="lang-button" type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Em construção"
                  data-original-title="Em construção"  
                  accesskey="0">
                      <img src="/base/assets/images/br.svg" width="25" alt="br" class="">
                  </button>
                  <button class="lang-button" type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Em construção"
                  data-original-title="Em construção"  
                  accesskey="0"                  >
                      <img src="/base/assets/images/gb.svg" width="25" alt="ing" class="">
                  </button>
                  <button class="lang-button" type="button" 
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Em construção"
                  data-original-title="Em construção"  
                  accesskey="0">
                      <img src="/base/assets/images/es.svg" width="25" alt="es" class="">
                  </button>
                  <!-- exemplo tradução-->
              </div>                
            </div>
            <div class="col-sm-6  col-12 app-acessibilidadeItens">
               <ul class="menu mb-0">
                  <li class="nav-item">
                     <a href="https://acessoainformacao.fortaleza.ce.gov.br/" data-toggle="tooltip" class="nav-link px-1 text-gray-700" target="_blank" rel="noopener noreferrer">Acesso a informação</a>
                  </li>
                  <li class="nav-item">
                     <a href="https://transparencia.fortaleza.ce.gov.br/" data-toggle="tooltip" class="nav-link px-1 text-gray-700" target="_blank" rel="noopener noreferrer">Transparência</a>
                  </li>
                  <li class="nav-item">
                     <a href="https://catalogodeservicos.fortaleza.ce.gov.br/" data-toggle="tooltip" class="nav-link px-1 text-gray-700" target="_blank" rel="noopener noreferrer">Serviços</a>
                  </li>
                  <li class="nav-item">
                     <a href="http://legislacao.fortaleza.ce.gov.br/index.php/P%C3%A1gina_principal" data-toggle="tooltip" class="nav-link px-1 text-gray-700" target="_blank" rel="noopener noreferrer">Legislação</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!--/acessibilidade-->
</section>
<!-- menu desktop -->
<header id="header"class="header-section crypto bg-main">
   <div class="header-area">
      <div class="container">
         <div class="primary-menu">
            <div class="logo align-items-center">
               <a href="https://www.fortaleza.ce.gov.br/" data-toggle="tooltip" class="linkPmf-nav" target="_blank" title="Prefeitura de Fortaleza">
               <img src="/base/assets/images/logo.png" alt="logo prefeitura de fortaleza" width="185">
               </a>
               <a href="{{ h.url_for('home.index') }}" data-toggle="tooltip" class="linkLogo-principal" title="dados abertos">
               <img src="/base/assets/images/logo-dadosBgYellow.png" alt="dados abertos" width="185">
               </a>
            </div>
            <nav id="navMenu" class="main-area">
               <div class="main-menu">
                  <ul>
                     <li>
                        <a class="active" href="{{ h.url_for('home.index') }}">Início</a>
                     </li>
                     <li>
                        <a href="{{ h.url_for('home.about') }}">Sobre</a>
                     </li>
                     <li>
                        <a href="{{ h.url_for('dataset.search') }}">Conjunto de dados</a>
                     </li>
                     <li class="subMenuGrupos">
                        <a href="{{ h.url_for('group.index') }}" onclick="window.location='{{ h.url_for('group.index')}}'">Grupos</a>
                        <ul>
                           {% for group in h.get_featured_groups({count:4}) %}
                           <li><a href="/group/{{group.name}}">{{ group.display_name }}</a></li>
                           {% endfor %}
                        </ul>
                     </li>
                     <li>
                        <a href="{{ h.url_for('organization.index') }}">Organizações</a>
                     </li>
                     <li>
                        <a href="#" data-toggle="tooltip">Ajuda</a>
                        <ul>
                           <li><a href="/contato">Fale conosco</a></li>
                           <li><a href="/faq">Dúvidas frequentes</a></li>
                           <li><a href="/manuais">Manuais e vídeos</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <div style="border-right: 1px solid #000; width: 3px; height: 28px;"></div>
               <div class="header-right d-flex justify-content-end">
                  {% if c.userobj %}
                  <div class="main-menu">
                     <ul>
                        <li class="search">
                           <button class="searchHeader"><i class="icon-magnifier icons font-2xl font-weight-bold"></i></button>
                        </li>
                        <li>
                           <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" onclick="window.location='{{ h.url_for('user.read', id=c.userobj.name) }}'" title="{{ _('View profile') }}">{{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}</a>
                           <ul>
                              {% set new_activities = h.new_activities() %}
                              {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
                              %}
                              <li>
                                 <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                                 Painel
                                 </a>
                              </li>
                              <li>
                                 <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                                 {{ _('Settings') }}
                                 </a>
                              </li>
                              <li>
                                 <a href="{{ h.url_for('user.api_tokens', id=c.userobj.name) }}" title="">
                                 api_tokens
                                 </a>
                              </li>
                              <li>
                                 <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                 {{ _('Log out') }}
                                 </a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </div>
                  {%else%}
                  <div class="search mr-3" style="margin-left: 10px;cursor: pointer;">
                     <i class="icon-magnifier icons font-2xl"></i>
                  </div>
                  <!--<div style="cursor: pointer;" data-toggle="modal" data-target="#cadastroLogin" >
                     <i class="icon-user icons font-2xl"></i>
                     </div>-->
                  {% endif %}
               </div>
            </nav>
         </div>
      </div>
   </div>
</header>
<!-- Menu desktop -->
